# Ignore data folders
/data/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
.venv/
venv/
env/

# Machine Learning Data & Models
checkpoint/
*.pth
*.tflite